@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.custom-bullet {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: transparent;
  border: 3px solid #333333;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.custom-bullet:hover {
  cursor: pointer;
  background-color: #d9599b;
}

.custom-bullet-active {
  background-color: #000;
}